<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Appium Suite" parallel="false">
    <test name="Settings App Test">
        <classes>
            <class name="com.abhi.appium.Demo.SettingsTest"/>
        </classes>
    </test>
    <test name="Slice App Test">
        <classes>
            <class name="com.abhi.appium.slice.SliceAppTest"/>
        </classes>
    </test>
</suite>
